/* import(souther-ring-nebula.png) from images */
.App {
  text-align: center;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, navy);
  list-style-type: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 24px;
  color: dodgerblue;
}
.category{
  font-size: 24px;
  color: red;
}

.reviews{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mediumturquoise;
  width: 33%;
  border-radius: 1rem;
  border-style: solid;
  margin: auto;
  margin-top: 1%;
  list-style-type: none;
   /* background-image: url('https://stsci-opo.org/STScI-01G8GZQ3ZFJRD8YF8YZWMAXCE3.png'); space background */
}
.votes{
  font-size: 24px;
  text-decoration: solid;
  color: chartreuse;
}

.categoryName{
  font-size: 20px;
  color: darkred;
}

.catName{
  font-size: 24px;
  color: darkolivegreen;
}

.categoryDesc{
  font-size: 18px;
  color: rgb(59, 43, 3);
}

.catName{
  font-size: 20px;
  color: darkslateblue;
}

.categories{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mediumturquoise;
  width: 40%;
  border-radius: 1rem;
  border-style: solid;
  margin: auto;
  margin-top: 1%;
  list-style-type: none;
}

.review{
  animation: 4s linear infinite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mediumturquoise;
  width: 66.6%;
  border-radius: 1rem;
  border-style: solid;
  margin: auto;
  list-style-type: none;
}

img{
 max-width: 35%;
 max-height: 35%;
}

.title{
  font-size: 20px;
  color: darkslateblue;
}
.owner{
  font-size: 20px;
  color: #065535;
}
.uploaded{
  font-size: 20px;
  color: #093380;
}

.image{
  font-size: 20px;
  color: #093244;
}
.designer{
  font-size: 20px;
  color: darkslateblue;
}
.category{
  font-size: 20px;
  color: #283452;
}
.votes{
  font-size: 20px;
  color: #900000;
}
.revBody{
  font-size: 20px;
  color: #623430;
}
.OrderBy{
  text-align: center;
}
.optionsbutton{
  text-align: center;
}
.comment{
text-align: center;
border-radius: 1rem;
border-style: solid;
background-color: #FFFFFF;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 37.5%;
margin-right: 40.5%;
margin-top: 1%;
list-style-type: none;
}
.commentBox{
  margin-right: 3%;
}
.submitButton{
  margin-right: 3%;
}
.noComments{
  scale: 200%;
  background-color: gold;
}

.user{
  text-align: center;
border-radius: 1rem;
border-style: solid;
background-color: #FFFFFF;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 37.5%;
margin-right: 40.5%;
margin-top: 1%;
list-style-type: none;
}
.username{
  margin-left: 600px;
  width: 200px;
  text-align: center;
  color: darkcyan;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 1rem;
  background-color: #FFFFFF;
}
 .wrapper div{
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 30%;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 30%;
  animation: animate 8s linear infinite;
} 
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
  /* background-size: contain;
  background-image: url('https://stsci-opo.org/STScI-01G8GZQ3ZFJRD8YF8YZWMAXCE3.png'); to give your bubbles a background of your choosing */
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}

@keyframes animate { /*0% is the starting state of all the div:nth's (bubbles) at 0s, 100% is the bubble after its transformation, specifically in 9s for wrapper div:nth-child(15)*/
  0% { 
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}
.welcomePage{
  height: 850px;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, navy);
}
.commentValidation{
  background-color: white;
  margin-left: 560px;
  width: 200px;
  text-align: center;
  color: darkcyan;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 1rem;
}
.welcomeTitle{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;
}
.reviewEntry{
  transform: translate(0%, 1900%);/* (x-axis, y-axis) */
}
.userEntry{
  transform: translate(0%, 1900%);
}
.categoryEntry{
  transform: translate(0%, 1900%);
}
.Links{
  display: inline;
}
.hardErrMsg{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #119dff;
  font-size: 20px;
  font-weight: 888;
  text-transform: uppercase;
}
.reviewTitle{
scale: 100%;
}
.reviewOwner{
  scale: 100%;
}
.reviewDate{
  scale: 100%;
}
.reviewCategory{
  scale: 100%;
}
.reviewDesigner{
  scale: 100%;
}
.reviewBody{
  scale: 100%;
}
.error{
  height: 850px;
  background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, navy);
  text-transform: uppercase; 
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
  text-transform: uppercase;
}